/*  your css code here. If applicable */
*{
	background-color: #DCD9D9;
}
div{
	position:relative;
	background-color:white;
	width:700px;;
	height:60px;
	margin-bottom:15px;
	padding-top:1px;
/* 	background-colour: */
	
	
}
#author{
	font-style:italic;
	text-align:right;
	background-color:white;
	
}
p{
		background-color:white;

}